<% provide(:title, "Home") %>
<div class="text-center jumbotron">
  <h1>Welcome to Twitta</h1>
  
  <h2>
    This is a <em>Twitter-esque</em> Rails application.<br>
    <small>Created by <%= link_to "Yuri Ramocan", "http://yuriramocan.com/" %></small>
  </h2>
  
  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>