@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.warning {
  color: red;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users Community */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.stats {
  overflow: auto;
  // margin-top: 0;
  // padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #1d1c1d;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

#username {
  color: grey;
}

.users.follow {
  padding: 0;
}

/* microposts */

.user_info {
  padding: 20px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding-top: 15px !important;
}

#feed-header {
  margin-top: 15px;
}

.micropost-form {
  margin-top: 20px;
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.micropost {
  padding: 30px 50px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;

  .user {
    margin-top: 5em;
    padding-top: 0;

    .poster-name {
      margin-bottom: 0px;
    }

    a {
      color: #101010;
    }
  }
  .content {
    display: block;
    font-size: 28px;
    font-weight: 200;
    word-wrap: break-word;
    margin-bottom: 6px;

    img {
      display: block;
      width: 100%;
      padding: 0px 0;
    }
  }
  .timestamp {
    color: $gray-light;
  }
  .gravatar {
    margin-right: 10px;
    max-width: 50px;
    border-radius: 3px;
    // margin-top: 5px;
  }

  .options-icon {
    font-size: 22px;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 15px 20px 15px 20px;
    background-color: white;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin: 0px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;

    a {
      color: #101010;
    }
  }
  .content {
    display: block;
    word-wrap: break-word;
    img {
      display: block;
      padding: 0px 0;
    }
    margin-bottom: 6px;
  }
  .timestamp {
    color: $gray-light;
  }
  .gravatar {
    margin-right: 10px;
    max-width: 68px;
    border-radius: 3px;
    // margin-top: 5px;
  }
}

#show-feed {
  margin-top: 20px;

  li:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.micropost-picture {
  margin-top: 10px;
  border-radius: 4px;
}

#micropost_picture {
  display: inline;
  margin-left: 15px;
}

#other-user-microposts {
  margin-top: 15px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.options {
  margin-top: 5px;
}

.options-icon {
  margin-top: 20px;
  margin-right: 25px;
}

.options-icon a {
  color: grey;
}

.favorited {
  color: #b20000;
}

#fav-tweet {
  &:hover {
    a {
      color: #b20000;
    }
  }
}

#rt-tweet {
  &:hover {
    a {
      color: #4ca64c;
    }
  }
}

/* Footer */

#footer-separator {
}

.footer-link {
}
